
.box{
    padding: 30px 15px !important;
    .box-image{
        position: relative;
    }
    .box-content{
        top: -60px;
        background-color: #fff;
        .title{
            text-align: center;
        }
        .description {
            color: #666;
            font-size: 14px;
            display: -webkit-box;
            max-height: 72px;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 3;
            line-height: 24px;
        }
    }
}